.sectionEI {
    margin-top: 3%;
}

.FormsMain {
    background-color: gray;
}
.heading {
    text-align: center;
}

.Forms {
    width: 70%;
    margin: 0 auto 0 auto;
}

input label {
    margin: 0 auto 0 auto;
}


.custom-control-label {
    font-family: sans-serif;
    width: 150px;
    margin: 12px;
    border: 1px solid white;
    margin-top: 10px;
    
}

.Send{
    width: 100px;
    margin: auto;
    margin-top: 5px;
}